# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ IDEA
*.iml
.idea/
out/

# VS Code
.vscode/

# Arquivos compilados
*.class

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Arquivos de pacotes
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Dumps de erro da JVM
hs_err_pid*
replay_pid*
