# Pastas e arquivos do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.bak
*.swp

# Binários compilados Java
*.class

# Arquivos do sistema Java
hs_err_pid*

# Outros arquivos de build
/build/

# Configuração do Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
